---
import type { BlogPostListItem } from "../lib/types";
import { formatPublishedDate } from "../lib/utils";
import Card from "./react/PostCard";

type Props = {
  post: BlogPostListItem;
  type?: "featured" | "grid-medium" | "grid-large";
};

const { post, type = "grid-medium" } = Astro.props;

const cardProps = {
  title: post.title,
  description: post.description || "",
  image: post.coverUrl || "",
  author: post.author,
  date: formatPublishedDate(post.publishedAt),
  minDuration: "5",
  type,
};
---

<a class="group block h-full w-full" href={`/posts/${post.slug}/`}>
  <Card client:load {...cardProps} />
</a>
