---
import type { BlogPostListItem } from "../lib/types";
import { formatPublishedDate } from "../lib/utils";
import Card from "./react/PostCard";

type Props = {
  post: BlogPostListItem;
  type?: "featured" | "grid-medium" | "grid-large";
};

const { post, type = "grid-medium" } = Astro.props;

const cardProps = {
  title: post.title,
  description: post.description || "",
  image: post.coverUrl || "",
  authorName: post.author.name,
  authorAvatarUrl: post.author.avatarUrl,
  date: formatPublishedDate(post.publishedAt),
  ...(post.estimatedReadTime && { minDuration: String(post.estimatedReadTime) }),
  type,
};
---

<a class="group block h-full w-full" href={`/posts/${post.slug}/`} data-astro-prefetch="hover">
  <Card client:load {...cardProps} />
</a>
